body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246,246,239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.fw6 {
  font-weight: 600;
}

.lh-copy {
  line-height: 1.5;
}

.mw8 {
  max-width: 64rem;
}

.w-100 {
  width: 100%;
}

.overflow-auto {
  overflow: auto;
}

.bg-white {
  background-color: #fff;
}

.pa3 {
  padding: 1rem;
}

.pa4 {
  padding: 2rem;
}

.stripe-dark:nth-child(odd) {
  background-color: rgba(0, 0, 0, .1);
}

.tl {
  text-align: left;
}

.f6 {
  font-size: .875rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

/* Definition Lists Simple */

.dib {
  display: inline-block;
}

.b {
  font-weight: bold;
}

.fw6 {
  font-weight: 600;
}

.lh-title {
  line-height: 1.25;
}

.gray {
  color: #777;
}

.pa3 {
  padding: 1rem;
}

.ml0 {
  margin-left: 0;
}

.mv2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.f6 {
  font-size: .875rem;
}

@media screen and (min-width: 30em) {
  .pa5-ns {
      padding: 4rem;
  }
}

Css stats for this component

/* Input */

.ba {
  border-style: solid;
  border-width: 1px;
}

.b--black-20 {
  border-color: rgba(0, 0, 0, .2);
}

.db {
  display: block;
}

.normal {
  font-weight: normal;
}

.b {
  font-weight: bold;
}

.input-reset {
  -webkit-appearance: none;
     -moz-appearance: none;
}

.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.black-80 {
  color: rgba(0, 0, 0, .8);
}

.black-60 {
  color: rgba(0, 0, 0, .6);
}

.pa2 {
  padding: .5rem;
}

.pa4 {
  padding: 2rem;
}

.mb2 {
  margin-bottom: .5rem;
}

.f6 {
  font-size: .875rem;
}

.measure {
  max-width: 30em;
}

/* Media */

.outline {
  outline: 1px solid;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.db {
  display: block;
}

.fl {
  float: left;
  _display: inline;
}

.fw4 {
  font-weight: 400;
}

.lh-copy {
  line-height: 1.5;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.black-10 {
  color: rgba(0, 0, 0, .1);
}

.black {
  color: #000;
}

.gray {
  color: #777;
}

.pa2 {
  padding: .5rem;
}

.pa3 {
  padding: 1rem;
}

.ml0 {
  margin-left: 0;
}

.mt2 {
  margin-top: .5rem;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.tc {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.f3 {
  font-size: 1.5rem;
}

.f6 {
  font-size: .875rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .w-25-m {
      width: 25%;
  }
}

@media screen and (min-width: 60em) {
  .w-20-l {
      width: 20%;
  }
}


/* Media Detail */

.lh-copy {
  line-height: 1.5;
}

.w-100 {
  width: 100%;
}

.pa3 {
  padding: 1rem;
}

.f2 {
  font-size: 2.25rem;
}

.f5 {
  font-size: 1rem;
}

.measure {
  max-width: 30em;
}

@media screen and (min-width: 30em) {
  .pa5-ns {
      padding: 4rem;
  }
}



